<!doctype html>
<html lang="ru">
{{> head headTitle='Довідник телефонних номерів та електронної пошти'}}
<body>
{{> header}}


<div class="container">
    <main class="phone_book " id="js-phone-book">
        <h1 class="main__title">Довідник телефонних номерів та електронної пошти </h1>

        <div class="phone_book__btn-wrp">
            <button class="btn btn-grey btn-item" data-filter="all">Всі</button>
            <button class="btn btn--seller btn-item" data-filter="seller">Торгові</button>
            <button class="btn btn--not-seller btn-item" data-filter="no-seller">Не торгові</button>
        </div>


        <table class=" table table-hover">
            <tr class="phone_book__table-header">
                <th>ПІБ</th>
                <th>Посада</th>
                <th>Телефон (стаціонарний)</th>
                <th>Телефон (трубка)</th>
                <th>Email</th>
            </tr>

            {{#if error}}
                <tr><td>{{error}}</td></tr>
            {{/if}}

            {{#if phoneBook}}
                {{#each phoneBook as |department|}}
        <tr class="filter-item" {{#if department.department_isSeller}} data-filter="seller" {{else}} data-filter = "no-seller" {{/if}}>
            <th colspan="5" class="phone_book__department
                        {{#if department.department_isSeller}}
                            phone_book__department--seller
                        {{else}}
                            phone_book__department--not-seller
                        {{/if}}">
                {{@key}} - {{department.department_name}}
            </th>
        </tr>
    {{#each department.employees as |employees|}}
            <tr class="filter-item" {{#if department.department_isSeller}} data-filter="seller" {{else}} data-filter = "no-seller" {{/if}}>
                <td>{{employees.first_name}} {{last_name}} {{patronymic_name}}</td>
                <td>{{employees.position}}</td>
                <td class="phone_book__tel">
                    {{#if employees.tel_number_landline}}
                        <span class="icon-phone-landline">{{employees.tel_number_landline}}</span>
                    {{/if}}
                </td>
                <td class="phone_book__tel">
                    {{#if employees.tel_number_dect}}
                        <span class="icon-phone-dect">{{employees.tel_number_dect}}</span>
                    {{/if}}
                </td>
                <td>
                    {{#each employees.email}}
                        <a href="mailto:{{this}}">{{this}}</a><br>
                    {{/each}}
                </td>
            </tr>
    {{/each}}

{{/each}}
            {{/if}}
        </table>
    </main>
</div>









{{> footer_page}}
</body>
</html>